:root {
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
  }
  body {
    font-family: "Outfit", sans-serif;
    background-color: var(--light-grey);
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 0;
  }
  .principal-container {
    width: 250px;
    height: 420px;
    background-color: var(--white);
    padding: 12px;
    border-radius: 12px;
  }
  .container-image img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 8px;
  }
  .container-text {
    box-sizing: border-box;
  }
  .container-text .title {
    color: var(--dark-blue);
    font-size: large;
    font-weight: bold;
    text-align: center;
  }
  .title p {
    margin: 0;
    padding: 18px 4px 12px 4px;
    font-size: 20px;
  }
  .paragraph {
    color: var(--grayish-blue);
    font-size: 15px;
    text-align: center;
  }
  .paragraph p {
    margin: 0;
    padding: 0 4px 0 4px;
  }